.header {
  background-color: #1A1A64;
  padding-top: 8px;
}
.title a {
  font-family: 'Marvel', 'arial', sans-serif;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
