.mat-button-toggle {
  background-color: white;
}
.mat-button-toggle-checked {
  background-color: #F1F1F1;
}
.mat-button-toggle, .mat-button-toggle-checked {
  border: 1px ridge;
  color: #1A1A64;
}

#gross-income-toggle {
  margin: 40px 0 20px;
}
#gross-income-charts {
  padding-bottom: 40px;
}
