<app-header [title]="(isSmall) ? shortTitle : title"></app-header>

<mat-grid-list [cols]="cols" rowHeight="{{(isSmall) ? '500px' : '720px'}}"
               (window:resize)="onResize($event)">
  <mat-grid-tile [colspan]="chartColSpan">
    <mat-grid-list cols="1">
      <mat-button-toggle-group id="gross-income-toggle" [value]="byMovieToggle.value">
        <mat-button-toggle [value]="byMovieToggle.value"
                           (change)="onGrossIncomeToggleClicked($event.value)">
          <span>{{ byMovieToggle.title }}</span>
        </mat-button-toggle>
        <mat-button-toggle [value]="byYearToggle.value"
                           (change)="onGrossIncomeToggleClicked($event.value)">
          <span>{{ byYearToggle.title }}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <apx-chart [title]="grossIncome.title"
                 [chart]="grossIncome.chart"
                 [dataLabels]="grossIncome.dataLabels"
                 [stroke]="grossIncome.stroke"
                 [grid]="grossIncome.grid"
                 [series]="grossIncome.series"
                 [xaxis]="grossIncome.xaxis"
                 [yaxis]="grossIncome.yaxis"
                 [legend]="grossIncome.legend"
                 [responsive]="grossIncome.responsive"></apx-chart>
    </mat-grid-list>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!isSmall">
    <app-description side="right"
                     [title]="grossIncomeTitle"
                     [description]="grossIncomeDescription"></app-description>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!isSmall">
    <app-description side="left"
                     [title]="profitsTitle"
                     [description]="profitsDescription"></app-description>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="chartColSpan">
    <mat-grid-list cols="1">
      <mat-button-toggle-group id="profits-toggle" [value]="byRevenueToggle.value">
        <mat-button-toggle [value]="byRevenueToggle.value"
                           (change)="onProfitsToggleClicked($event.value)">
          <span>{{ byRevenueToggle.title }}</span>
        </mat-button-toggle>
        <mat-button-toggle [value]="byPercentageToggle.value"
                           (change)="onProfitsToggleClicked($event.value)">
          <span>{{ byPercentageToggle.title }}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <apx-chart [title]="profits.title"
                 [chart]="profits.chart"
                 [dataLabels]="profits.dataLabels"
                 [stroke]="profits.stroke"
                 [grid]="profits.grid"
                 [series]="profits.series"
                 [xaxis]="profits.xaxis"
                 [yaxis]="profits.yaxis"
                 [responsive]="profits.responsive"></apx-chart>
    </mat-grid-list>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="chartColSpan">
    <div class="grid-container">
      <mat-button-toggle-group id="ratings-toggle" [value]="phaseOneToggle.value">
        <mat-button-toggle [value]="phaseOneToggle.value"
                           (change)="onPhasesToggleClicked($event.value)">
          <span>{{ phaseOneToggle.title }}</span>
        </mat-button-toggle>
        <mat-button-toggle [value]="phaseTwoToggle.value"
                           (change)="onPhasesToggleClicked($event.value)">
          <span>{{ phaseTwoToggle.title }}</span>
        </mat-button-toggle>
        <mat-button-toggle [value]="phaseThreeToggle.value"
                           (change)="onPhasesToggleClicked($event.value)">
          <span>{{ phaseThreeToggle.title }}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <apx-chart id="income-chart"
                 [title]="ratingsPerPhaseIncome.title"
                 [chart]="ratingsPerPhaseIncome.chart"
                 [labels]="ratingsPerPhaseIncome.labels"
                 [series]="ratingsPerPhaseIncome.series"
                 [yaxis]="ratingsPerPhaseIncome.yaxis"
                 [legend]="ratingsPerPhaseIncome.legend"></apx-chart>
      <apx-chart id="rating-chart"
                 [title]="ratingsPerPhaseRating.title"
                 [chart]="ratingsPerPhaseRating.chart"
                 [plotOptions]="ratingsPerPhaseRating.plotOptions"
                 [fill]="ratingsPerPhaseRating.fill"
                 [stroke]="ratingsPerPhaseRating.stroke"
                 [labels]="ratingsPerPhaseRating.labels"
                 [series]="ratingsPerPhaseRating.series"></apx-chart>
    </div>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!isSmall">
    <app-description side="right"
                     [title]="ratingsPerPhaseTitle"
                     [description]="ratingsPerPhaseDescription"></app-description>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!isSmall">
    <app-description side="left"
                     [title]="charactersCorrTitle"
                     [description]="charactersCorrDescription"></app-description>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="chartColSpan">
    <mat-grid-list cols="1">
      <mat-button-toggle-group id="characters-corr-toggle" [value]="byIncomeToggle.value">
        <mat-button-toggle [value]="byIncomeToggle.value"
                           (change)="onCharactersCorrelationToggleClicked($event.value)">
          <span>{{ byIncomeToggle.title }}</span>
        </mat-button-toggle>
        <mat-button-toggle [value]="byRatingToggle.value"
                           (change)="onCharactersCorrelationToggleClicked($event.value)">
          <span>{{ byRatingToggle.title }}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <apx-chart [title]="charactersCorr.title"
                 [chart]="charactersCorr.chart"
                 [dataLabels]="charactersCorr.dataLabels"
                 [grid]="charactersCorr.grid"
                 [series]="charactersCorr.series"
                 [xaxis]="charactersCorr.xaxis"
                 [yaxis]="charactersCorr.yaxis"
                 [legend]="charactersCorr.legend"
                 [responsive]="charactersCorr.responsive"></apx-chart>
    </mat-grid-list>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="chartColSpan">
    5
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!isSmall">
    <app-description side="right"
                     [title]="'Title 5'"
                     [description]="'Description 5'"></app-description>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!isSmall">
    <app-description side="left"
                    [title]="'Title 6'"
                    [description]="'Description 6'"></app-description>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="chartColSpan">
    6
  </mat-grid-tile>
</mat-grid-list>

<app-footer></app-footer>
