.mat-button-toggle {
  background-color: white;
}
.mat-button-toggle-checked {
  background-color: #F1F1F1;
}
.mat-button-toggle, .mat-button-toggle-checked {
  border: 1px ridge;
  color: #1A1A64;
  font-family: 'Marvel', 'arial', sans-serif;
}

#gross-income-toggle {
  margin: 40px 0 20px;
}

#profits-toggle {
  margin: 40px 0 20px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'toggle toggle'
    'income rating';
  grid-gap: 20px;
  margin-top: 20px;
}
#ratings-toggle {
  grid-area: toggle;
}
#income-chart {
  grid-area: income; 
}
#rating-chart {
  grid-area: rating;
}

#characters-corr-toggle {
  margin: 40px 0 20px;
}
