<app-header [title]="title"></app-header>

<mat-grid-list cols="3" rows="6" rowHeight="720px">
  <mat-grid-tile colspan="2">
    <mat-grid-list cols="1" rows="2">
      <mat-button-toggle-group id="gross-income-toggle" [value]="byMovieToggle.value">
        <mat-button-toggle [value]="byMovieToggle.value"
                           (change)="onGrossIncomeToggleClicked($event.value)">
          <span>{{ byMovieToggle.title }}</span>
        </mat-button-toggle>
        <mat-button-toggle [value]="byYearToggle.value"
                           (change)="onGrossIncomeToggleClicked($event.value)">
          <span>{{ byYearToggle.title }}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <apx-chart [title]="grossIncome.title"
                 [chart]="grossIncome.chart"
                 [dataLabels]="grossIncome.dataLabels"
                 [stroke]="grossIncome.stroke"
                 [grid]="grossIncome.grid"
                 [series]="grossIncome.series"
                 [xaxis]="grossIncome.xaxis"
                 [yaxis]="grossIncome.yaxis"
                 [legend]="grossIncome.legend"></apx-chart>
    </mat-grid-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-description side="right"
                     [title]="grossIncomeTitle"
                     [description]="grossIncomeDescription"></app-description>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-description side="left"
                     [title]="profitsTitle"
                     [description]="profitsDescription"></app-description>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-grid-list cols="1" row="2">
      <mat-button-toggle-group id="profits-toggle" [value]="byRevenueToggle.value">
        <mat-button-toggle [value]="byRevenueToggle.value"
                            (change)="onProfitsToggleClicked($event.value)">
          <span>{{ byRevenueToggle.title }}</span>
        </mat-button-toggle>
        <mat-button-toggle [value]="byPercentageToggle.value"
                            (change)="onProfitsToggleClicked($event.value)">
          <span>{{ byPercentageToggle.title }}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <apx-chart id="profits-chart"
                 [title]="profits.title"
                 [chart]="profits.chart"
                 [dataLabels]="profits.dataLabels"
                 [stroke]="profits.stroke"
                 [grid]="profits.grid"
                 [series]="profits.series"
                 [xaxis]="profits.xaxis"
                 [yaxis]="profits.yaxis"></apx-chart>
    </mat-grid-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">3</mat-grid-tile>
  <mat-grid-tile>
    <app-description side="right"
                      [title]="'Title 3'"
                      [description]="'Description 3'"></app-description>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-description side="left"
                      [title]="'Title 4'"
                      [description]="'Description 4'"></app-description>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">4</mat-grid-tile>
  <mat-grid-tile colspan="2">5</mat-grid-tile>
  <mat-grid-tile>
    <app-description side="right"
                      [title]="'Title 5'"
                      [description]="'Description 5'"></app-description>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-description side="left"
                      [title]="'Title 6'"
                      [description]="'Description 6'"></app-description>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">6</mat-grid-tile>
</mat-grid-list>

<app-footer></app-footer>
